@model NavBarViewModel

@if (Model.IsClient)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="All">All Clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="ShoppingCart">Shopping Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Library">Library</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Main" asp-route-ProfileId="@Model.Id">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chats" asp-action="Main">Chats</a>
    </li>
}
else if (Model.IsPublisher)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Add">Add game</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="EditLogo">Edit Logo</a>
    </li>
}
else if (Model.IsAdmin)
{
    <li calss="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Administration" asp-action="Main">Administration</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Become">Become Publisher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Become">Become Client</a>
    </li>
}