@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 style="text-align: center">Something went wrong :(</h1>
<h2 style="text-align: center">Check if everything you have entered is valid. If the problem still persists, please contact the site support.</h2>
