body {
    margin: 0;
    padding: 0;
    background: #eee
}

.content {
    width: 420px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ratings {
    background-color: #fff;
    padding: 54px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px #E0E0E0
}

.product-rating {
    font-size: 50px
}

.rating-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
