@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomePage.css" />

<div class="text-center">
    @await Component.InvokeAsync("ChooseUserTypePrompt")
    @if (Model.TopRatedGames.Count() > 0)
    {
        <div style="margin-bottom: 20px;">
            <div class="card text-center">
                <div class="card-header" style="font-weight: bold; font-size: 25px">
                    Top Rated Games
                </div>
                <div class="card-body">
                    @await Component.InvokeAsync("RenderGamesInCard", new { games = Model.TopRatedGames.ToList() })
                </div>
                <div class="card-footer text-muted">
                    <a asp-area="" asp-controller="Games" asp-action="All" asp-route-SortQuery="Rating" class="btn btn-primary">All Games By Rating</a>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 20px;">
            <div class="card text-center">
                <div class="card-header" style="font-weight: bold; font-size: 25px">
                    Latest Games
                </div>
                <div class="card-body">
                    @await Component.InvokeAsync("RenderGamesInCard", new { games = Model.LatestGames.ToList() })
                </div>
                <div class="card-footer text-muted">
                    <a asp-area="" asp-controller="Games" asp-action="All" asp-route-SortQuery="Newest" class="btn btn-primary">All Games By Release Date</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3 style="text-align: center;">
            Your library is empty. Why not purchase your first game
            <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="All">Here</a>?
        </h3>
    }
</div>
