@model ButtonsViewModel

<link rel="stylesheet" href="~/css/ratingBox.css" />

@if (Model.IsPublisher)
{
    <a asp-area="" asp-controller="Games" asp-action="Remove" asp-route-GameId="@Model.GameId" class="btn btn-primary">Remove</a>
}
else
{
    if (!Model.IsOwned)
    {
        <button type="submit" class="btn btn-primary">Add To Cart</button>
    }
    else
    {
        <button disabled class="btn btn-primary">OWNED</button>
    }
}